 .home-background  {
    background-image: url(https://images.pexels.com/photos/256737/pexels-photo-256737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size:cover;
    height: 100vh;
    position:relative;
}
.background  {
    background-image: url(https://images.pexels.com/photos/256737/pexels-photo-256737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size:cover;
    height: 100vh;
    position:relative;
    padding-top: 100px;
    padding-left: 480px
}
.menu{
    padding:30px;
}

.info{
    background-image: url(../images/wm-01.png);
    background-size: 104%;
    background-position: center, center ;
    margin-top:6%;
    background-color: rgba(255, 255, 255, 0.4);
    width: 800px;
    height: 250px;
    text-align: center;
    margin-left: 22%    ;
    border-radius: 30px;
    /* align-content: center; */
    background-repeat: no-repeat;

}

.infoLog{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 40%;
    text-align: center;
    border-radius: 30px;
    margin-left: -10px;
    margin-top: 90px;
    padding: 5%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.288)


}

.infoSig{
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 70%;
    text-align: center;
    border-radius: 30px;
    align-content: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.288)

    
}

.info h2{
    margin-top:180px;
    font-family: cursive;
    font-size: 180%
;}

/* .info h1{
    margin-top: 40px;
    padding: 0%
    
} */

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    /* font-family: cursive ; */
    font-weight: bold;
    font-size: 100%;
    margin-top: 1%;
    opacity: .7;
    
}

.btnLog {
    margin-right: 30px;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
